.contactCard {
    background-color: #f7f7f7;
    border-left: 8px solid #20c997;
    border-bottom: 5px solid #20c997;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 100px auto;
  }
  
  .contactUsText {
    color: #20c997;
    font-size: 24px;
  }
  
  .contactDescription {
    margin-bottom: 10px;
  }
  
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .contactInfo {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .contactInfo p {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .contactIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contactLink i {
    margin: 4px;
    color: black;
  }
  
  .contactLink i:hover {
    color: #20c997;
  }
  
  .contactLink {
    margin: 5px;
  }
  
  .address {
    color: #20c997;
    font-size: 18px;
  }
  
  .connectWithUsText {
    color: #20c997;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .contactCard {
      margin: 10px;
    }
  }
  